@use "../../_variables" as vars;

:host {
  @apply w-full flex flex-col items-center;
}

.header {
  @apply flex items-center justify-between w-4/5 h-16 p-4 mb-8 rounded-lg;
  background-color: vars.$container-bg-color;

  .header-section {
    @apply flex items-center;

    &.left {
    }

    &.align-center {
      @apply justify-center ml-2;;
    }

    &.align-right {
      @apply justify-end flex-1 pr-3;
    }

    &.right {

      & span {
        @apply mr-4 text-sm text-gray-600;    
      }      
    }
  }
}
