@use "../../_variables" as vars;

:host {
  @apply w-full flex flex-col items-center;
}

.header {
  @apply flex items-center justify-between w-4/5 h-16 p-4 mb-8 rounded-lg;
  background-color: vars.$container-bg-color;

  .header-section {
    @apply flex items-center;

    &.left {
      @apply justify-start;
    }

    &.center {
      @apply flex-1 justify-end;
    }

    &.right {
      @apply justify-end pr-3 ml-4;

      & span {
        @apply mr-4 text-sm text-gray-600 !important;
      }

    }
  }
}
