  <div class="flex flex-col gap-8 h-6 p-8 ">
    <div>
      <table mat-table [dataSource]="dataSource" matSort #sort="matSort">
        
          <!-- Datum Column -->
        <ng-container matColumnDef="datum">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> DATUM </th>
          <td mat-cell *matCellDef="let element"> {{element.datum.toDate() | date:'fullDate' }} </td>
        </ng-container>
      
        <!-- Bedrijf Column -->
        <ng-container matColumnDef="bedrijf">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> BEDRIJF </th>
          <td mat-cell *matCellDef="let element"> {{element.bedrijf}} </td>
        </ng-container>
      
        <!-- Functie Column -->
        <ng-container matColumnDef="functie">
          <th mat-header-cell *matHeaderCellDef> FUNCTIE </th>
          <td mat-cell *matCellDef="let element"> {{element.functie}} </td>
        </ng-container>
      
        <!-- Sluitingsdatum Column -->
        <ng-container matColumnDef="sluitingsdatum">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> SLUITINGSDATUM </th>
          <td mat-cell *matCellDef="let element"> {{element.sluitingsdatum.toDate() | date:'fullDate'}} </td>
        </ng-container>
      
        <!-- Sollicitatie Column -->
        <ng-container matColumnDef="sollicitatie">
          <th mat-header-cell *matHeaderCellDef> SOLLICITATIE </th>
          <td mat-cell *matCellDef="let element">
            <div class="sollicitatie-textarea" [title]="element.sollicitatie">
              {{getLimitedSentences(element.sollicitatie)}}
            </div>
          </td>
        </ng-container>

        <!-- status Column -->
        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> STATUS </th>
          <td mat-cell *matCellDef="let element"
          > <span
            [class.accepted]="element.status === 'accepted'"
            [class.pending]="element.status === 'pending'"
            [class.rejected]="element.status === 'rejected'"          >{{element.status }}</span> </td>
        </ng-container>

      
        <tr mat-header-row *matHeaderRowDef="['datum', 'bedrijf', 'functie', 'sluitingsdatum', 'sollicitatie', 'status']"></tr>
        <tr mat-row *matRowDef="let row; columns: ['datum', 'bedrijf', 'functie', 'sluitingsdatum', 'sollicitatie', 'status'];"></tr>
      </table>
      <mat-paginator #paginator
          [length]="10"
          [pageIndex]="0"
          [pageSize]="10"
          [pageSizeOptions]="[5, 10, 20]"
          aria-label="Select page">
      </mat-paginator>
    </div>

    <button mat-fab class="fab-button flex flex-col self-end" (click)="addNewSollicitatie()" title="Nieuwe sollicitatie toevoegen">
      <mat-icon class="flex flex-col">add</mat-icon>
    </button>
  </div>
