@use "sass:color";

$bg-color: #3b6dc4;
$container-bg-color: #f5eab4;
$row-bg-color: #c4923b;
$cell-bg-color: #3d7bb8;
$cell-odd-bg-color: $cell-bg-color;
$cell-even-bg-color: color.scale($cell-bg-color, $lightness: 30%);
$cell-odd-hover-bg-color: color.scale($cell-bg-color, $lightness: 60%);
$cell-even-hover-bg-color: color.scale($cell-bg-color, $lightness: 60%);
$status-accepted-color: green;
$status-pending-color: orange;
$status-rejected-color: grey;

$table-x-padding: 2rem;
$border-color: #d1d5db;
$border-radius-cell: 5px;
$border-radius-cell-row-end: 21px;
$box-shadow-default: 0 1px 3px rgba(0, 0, 0, 0.1);
$box-shadow-hover: 0 4px 6px rgba(0, 0, 0, 0.1);
$icon-size-fab: 64px;